.boot-screen {

  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: #080706;

  transition:
    opacity .22s ease,
    transform .22s ease;
    /* visibility .18s ease; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 80px;

  font-family: var(--font-mono);

  z-index: 99999;

  cursor: pointer;
  user-select: none;

  overflow: hidden;
}

.boot-screen.fade{

    opacity:0;

    transform:scale(1.01);

    pointer-events:none;

}
